# ==========================
# Database Configuration
# ==========================

DATABASE_USER=postgres
DATABASE_PASSWORD=your_database_password
DATABASE_DB=userdb
DATABASE_HOST=localhost
DATABASE_PORT=5432

# ==========================
# Security
# ==========================

SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
TIME_TO_EXPIRE=30